doctype html
html
    head
        meta(charset="utf-8")
        meta(name='viewport',contend='width=device-width, inital-scale=1')
        block title
        include ../includes/style
        include ../includes/script
    body
        block content